# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
docs
coverage
# dependencies
node_modules
# folders
dist
lib
esm
coverage
echoCoreDocs

packages/echo-core/.yalc
packages/echo-core/yalc.lock
