name: Check conventional commit message

on:
    pull_request:
        branch:
            - main
        types:
            - opened
            - edited
            - synchronize

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [16.x]
        steps:
            - name: semantic-pull-request
              uses: amannn/action-semantic-pull-request@v3.4.0
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
